* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: roboto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.header {
    background-color: #253d2c;
    color: #f9faf8;
    padding: 10px;
    border-bottom: 3px solid #BE5103;
    text-align: center;
    font-size: 24px;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #f9faf8;
    background-image: url('../images/pexels-polilla68-1172737.jpg');
    background-size: cover;
    background-position: center;
    font-family: merriweather;
    height: 400px;
}

.info {
    font-size: 30px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    padding: 20px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    text-align: center;
    border: 1px solid #BE5103;
    border-radius: 5px;
    padding: 5px 10px;
    width: 100px;
}

a:hover {
    background-color: #BE5103;
    color: white;
}

.btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.footer {
    background-color: #253d2c;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1 1 auto;;
 }
 
 .footer-text {
    font-size: x-small;
    padding: 10px;
 }

